# nvim
nvim-lua/.config/nvim/spell/
nvim-lua/.config/nvim/plugged/
nvim-lua/.config/nvim/autoload/
nvim-lua/.config/nvim/nvim-vimscript/autoload/
nvim-lua/.config/nvim/nvim-vimscript/plugged/

# zsh
zsh/.config/zsh/.zcompdump

# systemd
systemd/.config/systemd/user/default.target.wants/

# rclone
rclone/
rclone-browser/

# mpv
mpv/.config/mpv/watch_later/
mpv/.config/mpv/mpvClipboard.log

# scripts
scripts/*
scripts/polybar/polyweather*
!scripts/personal/
!scripts/bspwm/
!scripts/dmenu/
!scripts/polybar/
!scripts/rclone/
!scripts/sys/
!scripts/compiler
!scripts/fast
!scripts/prompt
!scripts/texclear
!scripts/ttymaps.kmap

# Thunar
Thunar/.config/Thunar/accels.scm

# GTK-*
gtk-2.0/.config/gtk-2.0/
gtk-3.0/.config/gtk-3.0/
gtk-4.0/.config/gtk-4.0/
!gtk-2.0/.config/gtk-2.0/gtkrc-2.0
!gtk-3.0/.config/gtk-3.0/settings.ini
!gtk-4.0/.config/gtk-4.0/settings.ini
